.home .search-page {
    margin-top: 100px;
    text-align: center;
}

.home .search-page .error {
    margin: 10px 0;
    text-align: center;
    color: red;
}

.home .search-user {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
}

.home .search-user .input-text {
    margin-right: 10px;
}

.home .search-user .input-button {
    margin-left: 5px;
}

.home .infos-user {
    margin-top: 50px;
    display: flex;
}

.home .infos-user .img-user {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.home .infos-user .identity {
    margin-left: 40px;
}

.home .infos-user .identity-item {
    padding: 5px 10px 0px 10px;
}

.home .infos-user .button-back {
    margin-left: auto;
    height: 50px;
}

.home .menu-options {
    margin-top: 10px;
    border-top: solid 1px #000;
    text-align: center;
}

.home .menu-options .input-button {
    margin: 20px 10px;
}